[Desktop Entry]
Encoding=UTF-8
Name=One
Comment=One P2P Cryptocurrency
Comment[fr]=One, monnaie virtuelle cryptographique pair à pair
Comment[tr]=One, eşten eşe kriptografik sanal para birimi
Exec=one-qt %u
Terminal=false
Type=Application
Icon=one128
MimeType=x-scheme-handler/one;
Categories=Office;Finance;
